**/*Zone.Identifier

# Node modules
node_modules/

# Build output
dist/

# Sublime project/workspace files
*.sublime-workspace

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Binary files in public
public/**/*.bin
public/**/*.py
public/**/*.zip

# OS-specific
.DS_Store
Thumbs.db
